<p id="notice"><%= notice %></p>

<% @courses.in_groups_of(3).each do |group| %>
  <div class="card-deck">
    <% group.each do |course| %>
          <div class="<%= course ? 'card text-xs-center' : 'card invisible' %>">
            <%= image_tag course.image.url(:medium), class: "card-img-top img-fluid", alt: "Card image cap" if course%>
            <div class="card-block">
              <h4 class="card-title"><%= course.title if course%></h4>
              <p class="card-text"><%= course.description if course %></p>
            </div>
            <div class="card-footer">
              <%= link_to 'Show', course, class: "btn btn-primary btn-cards" if course%>
            </div>
          </div>
    <% end %>
  </div>
<% end %>
